<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163340677850-gg5gea3jp2ed8o29clu70gnbdkiu4p0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163340677850-gg5gea3jp2ed8o29clu70gnbdkiu4p0k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>163340677850-ajt6nm6tkmje51792us4b2fmicp5gv23.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMuEcasm9DWFUb0DmZHnAt-9ZyagpyrNY</string>
	<key>GCM_SENDER_ID</key>
	<string>163340677850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.benjii</string>
	<key>PROJECT_ID</key>
	<string>benjii-project</string>
	<key>STORAGE_BUCKET</key>
	<string>benjii-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163340677850:ios:d4227815d20896d0352be3</string>
</dict>
</plist>
